<nb-card>
  <nb-card-header>Mail</nb-card-header>
  <nb-card-body>

    <div *ngFor="let schema of formSchema" class="form-group row">
      <label for="mail-input-{{schema.member}}" class="col-md-4 col-form-label">{{schema.name}}</label>
      <div class="col-md-8">
        <input class="form-control" type="{{schema.type}}" [(ngModel)]="mailOptions[schema.member]" id="mail-input-{{schema.member}}"
          [placeholder]="schema.name">
      </div>
    </div>

    <button [disabled]="disableSendButton" hero status="success" nbButton (click)="sendMail()" class="btn-block">senden</button>

  </nb-card-body>
</nb-card>
