<div class="row">

  <ng-container *ngIf="!actionIsRunning">

    <div class="col-sm-6">
      <!-- preview -->
      <nb-card size="small" [nbSpinner]="showSpinner()" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
        <nb-card-header>
          <div class="header-container">
            <div class="header-row left">
              Vorschau
            </div>
            <div class="header-row right">

              <nb-actions size="small">

                <nb-action icon="fa fa-arrows-alt" [disabled]="isProcessingPdf() || selection_selectedIds.length==0"
                  (click)="showFullScreen()"></nb-action>
              </nb-actions>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body *ngIf="!pdfSrc">
          Bitte pug file wählen!
        </nb-card-body>
        <nb-card-body *ngIf="pdfSrc" class="noPadding">
          <pdf-viewer [src]="pdfSrc" [show-all]="true" [original-size]="true" [render-text]="true" style="display: block;"
            (on-progress)="onProgressPdf()" (error)="pdfRendered()" (page-rendered)="pdfRendered()"></pdf-viewer>
        </nb-card-body>
      </nb-card>
      <!-- preview end -->
    </div>
    <div class="col-sm-6">
      <!-- select -->
      <app-entity-select #selection [settings]="selection_settings" [hasError]="!selection_selectedIds.length"
        [selectedIds]="selection_selectedIds" (selected)="selectionSelected($event)"></app-entity-select>
      <!-- select end -->
    </div>
    <div class="col-sm-6">
      <!-- Daten -->
      <nb-card size="small">
        <nb-card-header>
          <div class="header-container">
            <div class="header-row left">
              Daten (<input *ngIf="inlineEdit" id="inlineEdit" (keydown.enter)="inlineEditSave()" (keydown.esc)="toggleInline()"
                type="number" min="1" [max]="maxIndex" [(ngModel)]="inlineEditValue">
              <ng-container *ngIf="!inlineEdit">{{currentIndex + 1}}</ng-container>
              /
              {{maxIndex}})
            </div>
            <div class="header-row right">

              <nb-actions size="small">
                <nb-action icon="nb-edit" [disabled]="enabledNavigator()" (click)="toggleInline()"></nb-action>
                <nb-action icon="nb-arrow-left" [disabled]="enabledNavigator()" (click)="goBackwardData()"></nb-action>
                <nb-action icon="nb-arrow-right" [disabled]="enabledNavigator()" (click)="goForwardData()"></nb-action>
              </nb-actions>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <ngx-json-viewer [json]="data[currentIndex]" [expanded]="false"></ngx-json-viewer>
        </nb-card-body>
      </nb-card>
      <!-- daten end -->
    </div>
    <div class="col-sm-6">
      <!-- upload -->
      <nb-card size="small">
        <nb-card-header>
          <div class="header-container">
            <div class="header-row left">
              Pug file upload
            </div>
            <div class="header-row right">

              <nb-actions size="small">
                <nb-action nbPopover="Aktualisieren" nbPopoverMode="hover" icon="fa fa-refresh" (click)="renderSelectionComp()">
                </nb-action>
                <nb-action nbPopover="Ordner anzeigen" nbPopoverMode="hover" icon="fa fa-folder-o" (click)="openPugFolder()">
                </nb-action>
              </nb-actions>
            </div>
          </div>


        </nb-card-header>
        <nb-card-body class="noPadding">
          <div #dropArea id="dropArea">
            <i *ngIf="!droppedItems.length" id="dragIcon" class="nb-collapse"></i>
            <nb-list>
              <nb-list-item *ngFor="let file of droppedItems" [class.hasError]="file.hasError">
                <nb-user [name]="file.name">
                </nb-user>
              </nb-list-item>
            </nb-list>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- upload -->
    </div>

    <div class="col-sm-12" *ngIf="selection_selectedIds.length">
      <nb-card [nbSpinner]="showSpinner()" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
        <nb-card-body>
          <div *ngIf="mailSubject">

            <input [(ngModel)]="mailSubjectValue" type="text" class="pull-left margin-bottom" nbInput fullWidth status="success"
              placeholder="Betreff">
            <button hero status="success" nbButton class="pull-right clickable" (click)="actionMail()">Send</button>
            <button hero status="danger" nbButton class="pull-right clickable" (click)="toggleMailSubject()">Abbrechen</button>
          </div>
          <div *ngIf="!mailSubject">
            <button hero status="success" nbButton class="pull-right clickable" (click)="actionPdf()">Pdf Erstellen</button>
            <button hero status="success" nbButton class="pull-right clickable" (click)="actionPdfPrint()">Drucken</button>
            <button hero status="success" nbButton class="pull-right clickable" (click)="toggleMailSubject()">Mail</button>

          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </ng-container>
  <div class="col-sm-12" *ngIf="actionIsRunning">
    <nb-card size="large">
      <nb-card-body>
        Ihre Daten werden generiert! Es kann Zeit in Anspruch nehmen, bitte haben Sie Gedult!
        <div id="loadingArea">
          <i id="loadingIcon" class="fa fa-clock-o"></i>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
