<nb-layout>
  <nb-layout-column>

    <div class="row">
      <div class="col-md-6">

        <app-einstellung-datenbank></app-einstellung-datenbank>

      </div>

      <div class="col-md-6">
        <nb-card>
          <nb-card-header>Information</nb-card-header>
          <nb-card-body>
            Sie müssen vorab eine gültige Datenbankverbindung garantieren, um von den Vorteilen dieser Anwendung zu
            profitieren!
          </nb-card-body>
        </nb-card>
      </div>
    </div>


  </nb-layout-column>
</nb-layout>
