<div class="row">
  <div class="col-lg-6">

    <app-einstellung-datenbank></app-einstellung-datenbank>

  </div>

  <div class="col-lg-6">

    <app-einstellung-administrator></app-einstellung-administrator>

  </div>

  <div class="col-lg-6">

    <app-einstellung-mail></app-einstellung-mail>

  </div>

  <div class="col-lg-6">

    <app-entity-select (selected)="printerSelected($event)" [selectedIds]="selection_selectedIds" [settings]="selection_settings"></app-entity-select>


  </div>
</div>
<div class="row easterEgg">

  <div class="col-sm-12">
    <div class="header-container devStart">

      <div class="header-row left">
        <h5>{{_i18n.resolve('thx_to_this_nice_guys')}}</h5>
      </div>
      <div class="header-row right">
        <img src="/assets/rublogo.png" width="218" height="51" alt="rub" class="img-responsive">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3 developer">
        <nb-card>
          <nb-user size="xlarge" name="Abdullah Sahin" title="abdullah@sahin.uk" picture="/assets/dev_team/abdullah.jpg">
          </nb-user>
        </nb-card>
      </div>
      <div class="col-lg-3 developer">
        <nb-card>
          <nb-user size="xlarge" name="Anton Kosjakov" title="anton.kosjakov@rub.de" picture="/assets/dev_team/anton.jpeg">
          </nb-user>
        </nb-card>
      </div>
      <div class="col-lg-3 developer">
        <nb-card>
          <nb-user size="xlarge" name="Robin Beermann" title="robin.beermann@rub.de">
          </nb-user>
        </nb-card>
      </div>
      <div class="col-lg-3 developer">
        <nb-card>
          <nb-user size="xlarge" name="Tolga Akkiraz" title="tolga@akkiraz.de" picture="/assets/dev_team/tolga.jpeg">
          </nb-user>
        </nb-card>
      </div>

    </div>

  </div>
</div>
