:host {
    .developer {
        nb-card {
            padding: 10px 20px;
        }
    }
    .easterEgg {
        margin-top: 300px !important;
        margin-bottom: 300px !important;
    }
    .devStart {
        margin-bottom: 30px
    }
    .header-row.left {
        padding-top: 20px;
    }
}
