<div class="row">
  <div class="col-lg-6">

    <app-einstellung-datenbank></app-einstellung-datenbank>

  </div>

  <div class="col-lg-6">

    <app-einstellung-administrator></app-einstellung-administrator>

  </div>

  <div class="col-lg-6">

    <app-einstellung-mail></app-einstellung-mail>

  </div>

  <div class="col-lg-6">

    <app-entity-select (selected)="printerSelected($event)" [selectedIds]="selection_selectedIds" [settings]="selection_settings"></app-entity-select>


  </div>
</div>
