<nb-layout>
  <nb-sidebar tag="left" state="compacted">
    <a href="#" (click)="toggleLeft()"><i class="nb-menu"></i></a>
    <app-sidemenu></app-sidemenu>
  </nb-sidebar>

  <nb-sidebar right tag="right" state="collapsed">
    <nb-list>
      <nb-list-item *ngFor="let item of items" [class.selected]="currentItem === item">
        <nb-user (click)="setCurrentEvent(item)" [name]="item.name" [title]="item.hosting.name">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-header subheader>
    <nb-user [name]="currentItem.name" [title]="currentItem.hosting.name" (click)="toggleRight()">
    </nb-user>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer>hmm</nb-layout-footer>-->
</nb-layout>
