<nb-layout>
  <nb-sidebar left tag="left" state="compacted" start responsive>
    <app-sidemenu></app-sidemenu>
  </nb-sidebar>

  <nb-sidebar right tag="right" state="collapsed" end fixed>
    <nb-list>
      <nb-list-item class="clickable" *ngFor="let item of items" [class.selected]="currentItem.id === item.id">
        <nb-user (click)="setCurrentEvent(item)" [name]="item.name" [title]="item.hosting.name">
        </nb-user>
      </nb-list-item>

      <nb-list-item class="clickable" [class.selected]="currentItem === defaultEvent">
        <nb-user (click)="setCurrentEvent(null)" name="Keine" title="...">
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>
  <nb-sidebar right tag="lang" state="collapsed" end fixed>
    <nb-list>
      <nb-list-item class="clickable" *ngFor="let item of languagesKey" (click)="onChangeLanguage(item)"
        [class.selected]="language === item">
        {{languages[item]}}
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-header fixed>
    <div class="header-container">

      <div class="header-row left">
        <nb-actions class="menuActions" size="medium">
          <nb-action icon="nb-menu" (click)="toggleLeft()"></nb-action>
          <nb-action icon="nb-arrow-left" [disabled]="canNotGoBackward()" (click)="goHistoryBackward()"></nb-action>
          <nb-action icon="nb-arrow-right" [disabled]="canNotGoForward()" (click)="goHistoryForward()"></nb-action>
        </nb-actions>
      </div>
      <div class="header-row right">

        <button class="clickable" (click)="toggleLang()" id="langB" nbButton outline size="small" shape="round" status="success">{{language}}</button>
        <nb-user class="clickable" [name]="currentItem.name" [title]="currentItem.hosting.name" (click)="toggleRight()">
        </nb-user>



      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer>hmm</nb-layout-footer>-->
</nb-layout>
