:host {
    .menuToggle {
        font-size: 3rem;
        width: 3rem;
        display: block;
        text-align: left;
        text-decoration: none;
        color: #a4abb3;
        margin-left: -1rem;
    }
    nb-layout-column {
        min-height: 50vw;
        height: 100%;
        :first-child {
            background: #f4f4f7;
        }
    }
    nb-list-item {
        &.selected {
            background: #ebeef2;
        }
    }
    nb-sidebar /deep/ .scrollable {
        padding: 0rem 1.25rem;
    }
    nb-layout-header {
        .header-container {
            display: flex;
            width: 100%;
            .left {
                display: flex;
                width: 100%;
                order: 0;
                flex-direction: row;
            }
            .right {
                order: 1;
                flex-direction: row-reverse;
            }
            .header-row {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }
}
