<div *ngIf="element.isReadOnly()">
  <input readonly nbInput [status]="(error)?'danger':''" class="form-control" ngModel="{{value | date:element.getDateFormat() }}"
    [placeholder]="element.getPlaceholder()">
</div>
<div *ngIf="!element.isReadOnly()">
  <input nbInput [status]="(error)?'danger':''" class="form-control" (ngModelChange)="emitChange()" (keyup)="emitChange()"
    [(ngModel)]="shownValue" [placeholder]="element.getPlaceholder()" [nbDatepicker]="localDatepicker">
</div>
<nb-datepicker #localDatepicker [visibleDate]="shownValue" [format]="element.getDateFormat()" (dateChange)="onDateSelect($event)"></nb-datepicker>
