<app-table *ngIf="!showParticipantAddingView() && !showUserProcess()" [config]="st_config" (action)="onCustomAction($event)"></app-table>
<!-- selected person view -->
<ng-container *ngIf="showParticipantAddingView()">

  <nb-card>
    <nb-card-header>
      {{_i18n.resolve('person_list_component_add_participants')}}
    </nb-card-header>
    <nb-card-body>
      <p>
        {{_i18n.resolve('person_list_component_adding')}} <b>{{selectedPerson.length}}</b>
        {{_i18n.resolve('person_list_component_participants_to_event')}} <b>{{currentEventService.getEvent().name}}</b>
        {{_i18n.resolve('person_list_component_adding_2')}}
      </p>
      <p>
        {{_i18n.resolve('person_list_component_check_everything')}}
      </p>
      <button [disabled]="!readyToSave" hero status="success" nbButton class="pull-right" (click)="addParticipants()">{{_i18n.resolve('person_list_component_add')}}</button>
      <button hero status="danger" nbButton class="pull-right" (click)="backToTableView()">{{_i18n.resolve('person_list_component_cancel')}}</button>
    </nb-card-body>
  </nb-card>

  <app-form-builder *ngFor="let participant of selectedPerson" [write]="participant" [schema]="form_participantSchema"
    [settings]="{header: participant.person.firstname+' '+participant.person.surname}" (finished)="checkFinished($event, participant.person.id)"></app-form-builder>


</ng-container>

<ng-container *ngIf="showUserProcess()">
  <nb-card>
    <nb-card-body>
      {{_i18n.resolve('person_list_component_show_user_process_text')}}
      <button hero status="danger" nbButton class="pull-right" (click)="backToTableView()">{{_i18n.resolve('person_list_component_cancel')}}</button>
    </nb-card-body>
  </nb-card>
  <app-pug-select [data]="selectedPerson"></app-pug-select>

</ng-container>
