<nb-reveal-card [revealed]="readonly || selectedElements.length" [showToggleButton]="!readonly">
  <nb-card-front>
    <nb-card size="small" [accent]="(hasError)?'danger':''">
      <nb-card-header style="position: relative;">
        <div class="header-container">
          <div class="header-row left">
            {{settings.header}}
          </div>
          <div class="header-row right">
            <nb-actions size="medium">
              <nb-action *ngIf="settings.showCreateButton" [nbPopover]="settings.createButtonText" nbPopoverMode="hover"
                routerLink="{{settings.editorUrl}}0" icon="nb-plus-circled"></nb-action>
            </nb-actions>
          </div>
        </div>
      </nb-card-header>
      <nb-card-header>
        <input [(ngModel)]="inputValue" (ngModelChange)="search()" type="text" nbInput fullWidth shape="round"
          placeholder="Suche">

      </nb-card-header>
      <nb-card-body *ngIf="!elements.length"><i>Keine vorhanden.</i></nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let element of elements" (click)="select(element)" [class.selected]="containsId(element)">
          <nb-user [name]="element.name" [title]="element.title">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-front>
  <!-- BACK -->
  <nb-card-back>
    <nb-card size="small" [accent]="(hasError)?'danger':''">
      <nb-card-header style="position: relative;">
        {{settings.header}} (Auswahl)
        <nb-badge text="{{selectedElements.length}} / {{settings.maxSelection}}" status="info" position="top right">
        </nb-badge>
      </nb-card-header>

      <nb-card-body *ngIf="!selectedElements.length"><i>Keine.</i></nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let element of selectedElements" (click)="select(element)" class="selected">
          <nb-user [name]="element.name" [title]="element.title">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
