<div class="container">
  <div class="row justify-content-md-center">
    <nb-card>
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>

        <div class="form-group row">
          <label for="db-input-username" class="col-md-4 col-form-label">Benutzername:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" [(ngModel)]="username" id="db-input-username" placeholder="Benutzername">
          </div>
        </div>
        <div class="form-group row">
          <label for="db-input-password" class="col-md-4 col-form-label">Passwort:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" [(ngModel)]="password" id="db-input-password" placeholder="Passwort">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 text-center">
            <nb-checkbox [value]="remember" (change)="toggleRemember()">Angemeldet bleiben</nb-checkbox>

          </div>
        </div>

        <button hero status="success" nbButton (click)="login()" class="btn-block">anmelden</button>

      </nb-card-body>
    </nb-card>
  </div>
</div>