<div id='charts' *ngIf="!showHelp">

  <div class="row">
    <div class="col-sm-6">
      <!--- ALTER -->
      <nb-card id="age">
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="ageChartData" [labels]="ageChartLabels" [options]="ageChartOptions" [legend]="ageChartLegend"
              [chartType]="ageChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- ALTER END -->
    </div>
    <div class="col-sm-6">
      <!-- GESCHLECHT -->
      <nb-card id="gender">
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="genderChartData" [labels]="genderChartLabels" [chartType]="genderChartType"
              (chartHover)="genderChartHovered($event)" (chartClick)="genderChartClicked($event)">
            </canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- GESCHLECHT ENDE -->
    </div>
    <div class="col-sm-12">
      <!-- -->
      <nb-card id="roleSDSD">
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="roleChartData" [labels]="roleChartLabels" [chartType]="roleChartType"
              (chartHover)="roleChartHovered($event)" (chartClick)="roleChartClicked($event)">
            </canvas>
          </div>

        </nb-card-body>

      </nb-card>
      <!-- ende -->
    </div>
  </div>




</div>

<div *ngIf="showHelp">

  <nb-card>
    <nb-card-body>

      Wähle ein Event in der oberen rechten Ecke aus um eine detaillierte Event Beschreibung zu erhalten.

    </nb-card-body>

  </nb-card>

</div>
