<div *ngIf="!showHelp && !loading">

  <div class="row">
    <div class="col-sm-6">
      <!-- allgemeine info-->
      <nb-card id="allgemeineInfo">
        <nb-card-header>{{currentEvent.name}}</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-4"><b>Ort</b></div>
            <div class="col-8">{{currentEvent.hosting.name}}<br><br></div>
            <div class="col-4"><b>Kontakt</b></div>
            <div class="col-8">{{currentEvent.hosting.contactPerson}}<br><br></div>
            <div class="col-4"><b>Anschrift</b></div>
            <div class="col-8">{{currentEvent.hosting.location.street}}
              {{currentEvent.hosting.location.subThoroughfare}}</div>
            <div class="col-4"></div>
            <div class="col-8">{{currentEvent.hosting.location.postalcode}} {{currentEvent.hosting.location.city}}</div>
            <div class="col-4"></div>
            <div class="col-8">{{currentEvent.hosting.location.country}}</div>
          </div>
        </nb-card-body>

      </nb-card>
      <!-- end allgemeine info-->
    </div>
    <div class="col-sm-6">
      <!-- kalender info-->
      <nb-calendar-range id="kalender" *ngIf="refreshCalenderRange" [showHeader]="false" size="small" [visibleDate]="rangeObject.start"
        [range]="rangeObject" (rangeChange)="rejectRangeChange()">
      </nb-calendar-range>
      <!-- end kalender info-->
    </div>
  </div>
  <div class="row">
    <!-- one stat example -->
    <div class="col-md-3">

      <!-- billig stat-->
      <nb-card>

        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_1">
            <!-- icon here-->
            <i class="fa fa-address-card"></i> </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> Teilnehmer </h1>
            <h2> {{stat_num_participants}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->

    <!-- one stat example -->
    <div class="col-md-3">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_2">
            <!-- icon here-->
            <i class="fa fa-bed"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> Schlafzimmer </h1>
            <h2> {{stat_num_bedrooms}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->


    <!-- one stat example -->
    <div class="col-md-3">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_3">
            <!-- icon here-->
            <i class="fa fa-object-group"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> Klassenzimmer </h1>
            <h2> {{stat_num_classrooms}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->

    <!-- one stat example -->
    <div class="col-md-3">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_4">
            <!-- icon here-->
            <i class="fa fa-users"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> Gruppenanzahl </h1>
            <h2> {{stat_num_groups}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->
  </div>
  <div class="row">

    <div class="col-sm-6">
      <!-- GESCHLECHT -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="genderChartData" [labels]="genderChartLabels" [chartType]="genderChartType"
              (chartHover)="genderChartHovered($event)" (chartClick)="genderChartClicked($event)" [colors]='genderColors'>
            </canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- GESCHLECHT ENDE -->
    </div>
    <div class="col-sm-6">
      <!--ROLLE -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="roleChartData" [labels]="roleChartLabels" [chartType]="roleChartType"
              (chartHover)="roleChartHovered($event)" (chartClick)="roleChartClicked($event)" [colors]="roleColors">
            </canvas>
          </div>

        </nb-card-body>

      </nb-card>
      <!-- ende -->
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <!--- ALTER -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="ageChartData" [labels]="ageChartLabels" [options]="ageChartOptions" [colors]="ageColors"
              [legend]="ageChartLegend" [chartType]="ageChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- ALTER END -->
    </div>

    <div class="col-sm-6">
      <!--- GRADE -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="gradeChartData" [labels]="gradeChartLabels" [options]="gradeChartOptions"
              [legend]="gradeChartLegend" [colors]="gradeColors" [chartType]="gradeChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- GRADE END -->
    </div>


  </div>
  <div class="row">

    <div class="col-sm-6">
      <!--- Schule -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="schoolChartData" [labels]="schoolChartLabels" [colors]="schoolColors"
              [options]="schoolChartOptions" [legend]="schoolChartLegend" [chartType]="schoolChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- Schule END -->
    </div>

    <div class="col-sm-6">
      <!--- Ort -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="locationChartData" [labels]="locationChartLabels" [colors]="locationColors"
              [options]="locationChartOptions" [legend]="locationChartLegend" [chartType]="locationChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- Ort END -->
    </div>


  </div>
</div>
<div *ngIf="showHelp">


  <nb-card>
    <nb-card-body>Es muss eine Veranstaltung ausgewählt werden.

      {{ _i18n.resolve('table_edit_advanced') }}


      {{ _i18n.resolve('TestWithParams', 'param1', 'param2') }}
    </nb-card-body>
  </nb-card>

</div>
<div *ngIf="loading">


  <nb-card [nbSpinner]=true nbSpinnerStatus="info" nbSpinnerSize="xxlarge">
    <nb-card-body>Please be patient...</nb-card-body>
  </nb-card>

</div>
