<div *ngIf="!showHelp && !loading">

  <div class="row">
    <div class="col-sm-6">
      <!-- allgemeine info-->
      <nb-card id="allgemeineInfo">
        <nb-card-header>{{currentEvent.name}}</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-4"><b>{{ _i18n.resolve('dashboard_location') }}</b></div>
            <div class="col-8">{{currentEvent.hosting.name}}<br><br></div>
            <div class="col-4"><b>{{ _i18n.resolve('dashboard_contact') }}</b></div>
            <div class="col-8">{{currentEvent.hosting.contactPerson}}<br><br></div>
            <div class="col-4"><b>{{ _i18n.resolve('dashboard_address') }}</b></div>
            <div class="col-8">{{currentEvent.hosting.location.street}}
              {{currentEvent.hosting.location.subThoroughfare}}</div>
            <div class="col-4"></div>
            <div class="col-8">{{currentEvent.hosting.location.postalcode}} {{currentEvent.hosting.location.city}}</div>
            <div class="col-4"></div>
            <div class="col-8">{{currentEvent.hosting.location.country}}</div>
          </div>
        </nb-card-body>

      </nb-card>
      <!-- end allgemeine info-->
    </div>
    <div class="col-sm-6">
      <!-- kalender info-->
      <nb-calendar-range id="kalender" *ngIf="refreshCalenderRange" [showHeader]="false" size="small" [visibleDate]="rangeObject.start"
        [range]="rangeObject" (rangeChange)="rejectRangeChange()">
      </nb-calendar-range>
      <!-- end kalender info-->
    </div>
  </div>
  <div class="row">
    <!-- one stat example -->
    <div class="col-lg-3 col-md-6">

      <!-- billig stat-->
      <nb-card>

        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_1">
            <!-- icon here-->
            <i class="fa fa-address-card"></i> </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> {{ _i18n.resolve('dashboard_participants') }} </h1>
            <h2> {{stat_num_participants}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->

    <!-- one stat example -->
    <div class="col-lg-3 col-md-6">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_2">
            <!-- icon here-->
            <i class="fa fa-bed"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> {{ _i18n.resolve('dashboard_bedrooms') }} </h1>
            <h2> {{stat_num_bedrooms}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->


    <!-- one stat example -->
    <div class="col-lg-3 col-md-6">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_3">
            <!-- icon here-->
            <i class="fa fa-object-group"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> {{ _i18n.resolve('dashboard_classrooms') }} </h1>
            <h2> {{stat_num_classrooms}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->

    <!-- one stat example -->
    <div class="col-lg-3 col-md-6">

      <!-- billig stat-->
      <nb-card>
        <div class="row lowStatWidget">
          <div class="col-sm-4 icon customColor_4">
            <!-- icon here-->
            <i class="fa fa-users"></i>
          </div>
          <div class="col-sm-8 info">
            <!-- title and value here -->
            <h1> {{ _i18n.resolve('dashboard_numgroups') }} </h1>
            <h2> {{stat_num_groups}}</h2>
          </div>
        </div>
      </nb-card>
      <!-- billig stat end-->

    </div>
    <!-- one stat ex end-->
  </div>
  <div class="row">

    <div class="col-sm-6">
      <!-- GESCHLECHT -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="genderChartData" [labels]="genderChartLabels" [chartType]="genderChartType"
              [colors]='genderColors'>
            </canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- GESCHLECHT ENDE -->
    </div>
    <div class="col-sm-6">
      <!--ROLLE -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [data]="roleChartData" [labels]="roleChartLabels" [chartType]="roleChartType" [colors]="roleColors">
            </canvas>
          </div>

        </nb-card-body>

      </nb-card>
      <!-- ende -->
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <!--- ALTER -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="ageChartData" [labels]="ageChartLabels" [options]="ageChartOptions" [colors]="ageColors"
              [legend]="ageChartLegend" [chartType]="ageChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- ALTER END -->
    </div>

    <div class="col-sm-6">
      <!--- GRADE -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="gradeChartData" [labels]="gradeChartLabels" [options]="gradeChartOptions"
              [legend]="gradeChartLegend" [colors]="gradeColors" [chartType]="gradeChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- GRADE END -->
    </div>


  </div>
  <div class="row">

    <div class="col-sm-6">
      <!--- Schule -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="schoolChartData" [labels]="schoolChartLabels" [colors]="schoolColors"
              [options]="schoolChartOptions" [legend]="schoolChartLegend" [chartType]="schoolChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- Schule END -->
    </div>

    <div class="col-sm-6">
      <!--- Ort -->
      <nb-card>
        <nb-card-body>

          <div style="display: block">
            <canvas baseChart [datasets]="locationChartData" [labels]="locationChartLabels" [colors]="locationColors"
              [options]="locationChartOptions" [legend]="locationChartLegend" [chartType]="locationChartType"></canvas>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- Ort END -->
    </div>

    <div class="col-sm-12">
      <app-table *ngIf="!showUserProcess()" [config]="st_config" (action)="onCustomAction($event)"></app-table>

      <ng-container *ngIf="showUserProcess()">
        <nb-card>
          <nb-card-body>
            {{_i18n.resolve('person_list_component_show_user_process_text')}}
            <button hero status="danger" nbButton class="pull-right clickable" (click)="backToTableView()">{{_i18n.resolve('person_list_component_cancel')}}</button>
          </nb-card-body>
        </nb-card>
        <app-pug-select [data]="selectedPerson"></app-pug-select>

      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="showHelp">


  <nb-card>
    <nb-card-body>{{ _i18n.resolve('dashboard_choose_venue') }}

      {{ _i18n.resolve('table_edit_advanced') }}
    </nb-card-body>
  </nb-card>

</div>
<div *ngIf="loading">


  <nb-card [nbSpinner]="true" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
    <nb-card-body>{{ _i18n.resolve('dashboard_wait') }}</nb-card-body>
  </nb-card>

</div>
