<div *ngIf="isLoaded">
  <div class="row">
    <!-- Bedroom -->
    <div class="{{this.form_classroom.id?'col-lg-6':'col-lg-8 offset-lg-2'}}">

      <app-form-builder [write]="form_classroom" [schema]="form_classroomSchema" [settings]="form_classroomSettings"
        (finished)="checkFinished($event, 'classroom')"></app-form-builder>
      <!-- Room -->


      <app-form-builder [write]="form_room" [schema]="form_roomSchema" [settings]="form_roomSettings" (finished)="checkFinished($event, 'room')"></app-form-builder>



      <!-- Venue -->

      <app-entity-select [readonly]="this.form_classroom.id" (selected)="selectionSelected($event)" [selectedIds]="selection_selectedIds"
        [settings]="selection_setttins" [hasError]="!this.form_classroom.venue.id"></app-entity-select>

    </div>

    <div class="col-lg-6">
      <app-entity-comment entityPostUrl="post/classroom" [entity]="form_classroom"></app-entity-comment>
    </div>


  </div>
  <nb-card>
    <nb-card-body>

      <button [disabled]="!readyToSave" hero status="success" nbButton class="pull-right" (click)="save()">{{_i18n.resolve('button_save')}}</button>


    </nb-card-body>
  </nb-card>
</div>
