<div *ngIf="getShow()">




  <nb-card>
    <nb-card-header style="position:relative">
      <nb-badge text="{{entity.comments.length}}" status="info" position="top right"></nb-badge>
      <div class="header-container">
        <div class="header-row left">
          Bemerkungen
        </div>
        <div class="header-row right">

          <nb-actions size="medium">
            <nb-action [disabled]="!selectedData.length" nbPopover="Makierte Löschen" nbPopoverMode="hover" icon="nb-trash"
              (click)="selectedData.length  && deleteAllSelected()">
            </nb-action>
          </nb-actions>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [id]="uniqueName" [settings]="settings" [source]="data" (userRowSelect)="onSelectRow($event)"
        (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>


  <app-form-builder [write]="form_comment" [schema]="form_commentSchema" [settings]="form_commentSettings" (finished)="checkFinished($event)"
    (saveButtonClicked)="onSave($event)"></app-form-builder>

</div>