<nb-card>
  <nb-card-header>{{_i18n.resolve('config_admin')}}</nb-card-header>
  <nb-card-body>

    <div class="form-group row">
      <label for="db-input-username" class="col-md-4 col-form-label">{{_i18n.resolve('config_admin_user')}}</label>
      <div class="col-md-8">
        <input class="form-control" type="text" [(ngModel)]="username" id="db-input-username">
      </div>
    </div>


    <div class="form-group row">
      <label for="db-input-password" class="col-md-4 col-form-label">{{_i18n.resolve('config_admin_current_password')}}</label>
      <div class="col-md-8">
        <input class="form-control" type="password" [(ngModel)]="password" id="db-input-password">
      </div>
    </div>


    <div class="form-group row">
      <label for="db-input-newpsw" class="col-md-4 col-form-label">{{_i18n.resolve('config_admin_new_password')}}</label>
      <div class="col-md-8">
        <input class="form-control" type="password" [(ngModel)]="newpsw" id="db-input-newpsw">
      </div>
    </div>


    <div class="form-group row">
      <label for="db-input-newpsw2" class="col-md-4 col-form-label">{{_i18n.resolve('config_admin_repeat_new_password')}}</label>
      <div class="col-md-8">
        <input class="form-control" type="password" [(ngModel)]="newpsw2" id="db-input-newpsw2">
      </div>
    </div>

    <button hero status="success" nbButton (click)="saveConfig()" class="btn-block">{{_i18n.resolve('config_admin_save')}}</button>

  </nb-card-body>
</nb-card>
