<div *ngIf="isLoaded">
  <div class="row">
    <!-- Person -->
    <div class="col-lg-6">

      <app-form-builder [write]="form_venueInstance" [schema]="form_venueSchema" [settings]="form_venueSettings"
        (finished)="checkFinished($event, 'venue')"></app-form-builder>

    </div>

    <div class="col-lg-6">

      <!-- Communication -->

      <app-form-builder [write]="form_comInstance" [schema]="form_comSchema" [settings]="form_comSettings" (finished)="checkFinished($event, 'communication')"></app-form-builder>


      <!-- Location -->

      <app-form-builder [write]="form_locInstance" [schema]="form_locSchema" [settings]="form_locSettings" (finished)="checkFinished($event, 'location')"></app-form-builder>


    </div>


  </div>
  <nb-card>
    <nb-card-body>

      <button [disabled]="!readyToSave" hero status="success" nbButton class="pull-right" (click)="save()">speichern</button>

    </nb-card-body>
  </nb-card>
</div>
