<div *ngIf="isLoaded">
  <div class="row">
    <!-- Person -->
    <div class="col-lg-6">

      <app-form-builder [write]="form_person" [schema]="form_personSchema" [settings]="form_personSettings" (finished)="checkFinished($event, 'person')"></app-form-builder>

      <app-entity-comment entityPostUrl="post/person" [entity]="form_person"></app-entity-comment>
    </div>

    <div class="col-lg-6">

      <!-- Communication -->


      <app-form-builder [write]="form_com" [schema]="form_comSchema" [settings]="form_comSettings" (finished)="checkFinished($event, 'communication')"></app-form-builder>

      <!-- Location -->

      <app-form-builder [write]="form_loc" [schema]="form_locSchema" [settings]="form_locSettings" (finished)="checkFinished($event, 'location')"></app-form-builder>


      <!-- School -->

      <app-entity-select (selected)="selectionSelected($event)" [selectedIds]="selection_selectedIds" [settings]="selection_setttins"></app-entity-select>

    </div>


  </div>
  <nb-card>
    <nb-card-body>

      <button [disabled]="!readyToSave" hero status="success" nbButton class="pull-right clickable" (click)="save()">{{_i18n.resolve('button_save')}}</button>


    </nb-card-body>
  </nb-card>
</div>
